.header {
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}
.navbar-brand img {
    height: 39px;
    width: 104px;
    left: 121px;
    top: 4px;
    border-radius: 0;
}
.navbar-brand .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #2E75FF;
    mix-blend-mode: multiply;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;
}
.col-xl-7 img {

    width: 100%;
    height: 100%;
}
.first-h {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -0.4px;
       color: #1652AC;
    margin-top: 145px;
    width: 100%;

    }
.border {
    width: 227px;
    height: 5px;
    margin-top: 40px;
    background: #EDEFF3;
}
.border1 {
    width: 227px;
    height: 5px;
    margin-top: 40px;
    background: #EDEFF3;
}
.first-p {
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #020303;
    margin-top: 55px;
    width: 100%;
}
.second-p {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
}
.second-h {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: #1652AC;
}
.third-h {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: #FBFDFF;

}
.third-p {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #FBFDFF;

}
.foor {
    margin: 125px;
}
.col-xxl-8 {
    background: #1652AC;
    height: 650px;


}
.one {
    flex-direction: row-reverse;

}
.row1 {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.col-xxl-4 img {
    width: 432px;
    height: 650px;
    }
.four {
    width: 556px;
    height: 556px;


}
.four_head {
    margin-top: 50px;
}
 .four-h {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1652AC;

}
.four-p {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
}
.four_img img {
    margin-top: -110px;
    width: 744px;
    height: 621px;
}
.two {
    height: 630px;
}
.five {
    background: #adb5bd47;
    margin-top: -114px;

}
.five_head {
    margin-left: 13px;
}
.five_h {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 160px;
    letter-spacing: 4px;
    color: #020303;
    text-align: center;
}
.five_col4 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.five_col41 {
    display: flex;
    width: 414px;
    height: 136px;
    right: 927px;
    top: 2736px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    justify-content: space-around;
    align-items: center;
}
.five_p {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #45494F;
}
.five_col41 img {
    width: 54px;
    height: 54px;

}
.five_col411 img {
    width: 25px;
    height: 25px;
    padding: 3px;
}
.img0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;

}
.img {
    margin-left: 40px;
}
.five_p {
    width: 237px;
}
.six_head {
    background: #FFFFFF;
    width: 1200px;
    border-radius: 10px;
    margin: 50px;
}
.six_h {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 4px;
    color: #020303;
    text-align: center;
}
.six_p {
    font-weight: bold;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.4px;
    color: #45494F;
}
.six_tittle {
    margin-top: 20px;
}
.five_colon {
    display: flex;
}
.six1 .six_p {
    margin-top: 40px;
}
.six .six_p {
    margin-top: 30px;
}
.six_h {
    margin-top: 60px;
}
.img_last img {
    width: 610px;
    height: 813px;
    margin-left: 320px;
    margin-top: 50px;
}

.bilder {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 4px;
    color: #020303;
}
.first {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .left img {
        width: 40px;
        height: 33px;
    }
    .right img {
        width: 40px;
        height: 33px;
    }
    .border3 {
        border: 1px solid blue;
        background: #2E75FF;
        width: 12px;
        height: 12px;
        border-radius: 50px;
    }
.front {
    display: flex;
    column-gap: 18px;
    margin-left: 320px;
    margin-top: 29px;
}
.border4 {
    display: flex;
    column-gap: 20px;
    margin-left: 38px;
}
.seven_tittle {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: #020303;
    margin-top: 78px;
}
.seven_group {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    margin-top: 30px;
}
.seven_group2 {
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
}
.seven_group button {
    width: 315px;
    height: 62px;
    border-radius: 10px;
}
.seven_group2 button {
    width: 315px;
    height: 62px;
    border-radius: 10px;
    margin-left: 158px;
}
.seven_group3 button {
    margin-left: 4px;
}
.finish {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px;
    margin-top: 68px;
}
.arrow {
    width: 249px;
    height: 54px;
    background: #2E75FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 34px;
    cursor: pointer;
}
 .arrow h2 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
 .arrow img {
     width: 79px;
      }
 .finish1 h1 {
     font-weight: bold;
     font-size: 34px;
     line-height: 43px;
     letter-spacing: -0.4px;
     color: #1652AC;
 }
 .finish2 p {
     font-weight: normal;
     font-size: 17px;
     line-height: 32px;
     letter-spacing: -0.4px;
     color: #464C53;

 }
 .finish2 {
     width: 420px;
     height: 224px;
 }
 .finish_logo a img {
     width: 196px;
     height: 73px;
 }
 .border5 {
     border: 1px solid rgba(229, 229, 229, 0.45);
     width: 100%;
     background: grey;
 }
 .end_bootom {
     width: 100%;
     background: #FFFFFF;
     height: 50px;
 }
 .end {
     display: flex;
     column-gap: 175px;
     margin-top: 50px;
     margin-bottom: 50px;
 }
.end p {
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #A3ADBA;
}
